<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Records</title>
    <link rel="stylesheet" href="templates/styles.css">
</head>
<body>
<div class="content">
    <div class="nav">
            <a class="link" href="/disease-type">Disease types</a>
            <a class="link" href="/country">Countries</a>
            <a class="link" href="/disease">Diseases</a>
            <a class="link" href="/discover">Discovers</a>
            <a class="link" href="/users">Users</a>
            <a class="link" href="/public-servant">Public servants</a>
            <a class="link" href="/doctor">Doctors</a>
            <a class="link" href="/specialize">Specializes</a>
            <a class="link" id="active" href="/record">Records</a>
    </div>
    <div class="info">
        <div class="crud">
            <form action="/add-record" method="post">
                <label>
                    Add a record
                    <input type="email" placeholder="Public servant email" name="email" required>
                </label>
                <label>
                    <input type="text" placeholder="Country" name="country" required>
                </label>
                <label>
                    <input type="text" placeholder="Disease code" name="code" required>
                </label>
                <label>
                    <input type="number" placeholder="Total deaths" name="deaths" required>
                </label>
                <label>
                    <input type="number" placeholder="Total patients" name="patients" required>
                </label>
                <input type="submit" value="Add">
                <p>{{ add }}</p>
            </form>
            <form action="/delete-record" method="post">
                <label>
                    Delete record
                    <input type="email" placeholder="Public servant email" name="email" required>
                </label>
                <label>
                    <input type="text" placeholder="Country" name="country" required>
                </label>
                <label>
                    <input type="text" placeholder="Disease code" name="code" required>
                </label>
                <input type="submit" value="Delete">
                <p>{{delete}}</p>
            </form>
            <form action="/get-record" method="get">
                <label>
                    Get the record
                    <input type="email" placeholder="Public servant email" name="email" required>
                </label>
                <label>
                    <input type="text" placeholder="Country" name="country" required>
                </label>
                <label>
                    <input type="text" placeholder="Disease code" name="code" required>
                </label>
                <input type="submit" value="Find">
                <p>{{get}}</p>
            </form>
            <form action="/update-record" method="post">
                <label>
                    Update a record
                    <input type="email" placeholder="Public servant email" name="email" required>
                </label>
                <label>
                    <input type="text" placeholder="Country" name="country" required>
                </label>
                <label>
                    <input type="text" placeholder="Disease code" name="code" required>
                </label>
                <label>
                    <input type="number" placeholder="Total deaths" name="deaths" required>
                </label>
                <label>
                    <input type="number" placeholder="Total patients" name="patients" required>
                </label>
                <input type="submit" value="Update">
                <p>{{update}}</p>
            </form>
        </div>
    </div>
</div>
</body>
</html>